@font-face {
  font-family: 'Raleway';
  font-style: bold;
  font-weight: 700;
  src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);
}

@font-face {
  font-family: 'Roboto' sans-serif;
  font-style: bold;
  font-weight: 700;
  src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);
}

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 900;
  src: url(https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap);
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
.checkbox, .features h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-btn-close, .checkbox-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

body.modal-open {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea {
  resize: none;
}

.section {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

.nav-icons {
  display: block;
  position: absolute;
  top: 22px;
  right: 23px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: currentColor;
  cursor: pointer;
}

.nav-icons:hover, .nav-icons:focus {
  fill: #2196f3;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.logo {
  width: 134px;
  height: 28px;
  display: block;
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 145px;
    height: 31px;
  }
}

.menu-container {
  padding: 60px;
  background-color: #ffffff;
  text-align: center;
  border-top: 1px solid #ececec;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border-top: none;
    font-size: 14px;
    padding: 0px;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list image {
    max-width: 134px;
    height: 28px;
  }
  .nav-list .item {
    display: inline-block;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .nav-list .item {
    margin-right: 50px;
  }
  .nav-list .item:first-child {
    margin-left: 88px;
  }
  .nav-list .item:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .nav-list .item:first-child {
    margin-left: 93px;
  }
}

.nav-list .item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .nav-list .item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.nav-list .nav-link {
  display: block;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.nav-list .nav-link:hover, .nav-list .nav-link:focus, .nav-list .nav-link:active {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
  position: relative;
  display: inline-block;
  color: #2196f3;
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .current-page {
    font-size: 14px;
  }
}

.current-page::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .current-page::after {
    font-size: 14px;
    margin-top: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .current-page::after {
    margin-top: 28px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px;
  color: #757575;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: inline-block;
    padding-top: 21px;
    padding-bottom: 21px;
    font-size: 14px;
    margin-top: 0px;
    margin-left: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
  }
}

.contacts .item {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  color: #757575;
}

.contacts .item:last-child {
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .contacts .item {
    margin-bottom: 0px;
    text-align: start;
    display: inline-block;
  }
  .contacts .item:last-child {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts .item:last-child {
    margin-top: 0px;
    margin-left: 30px;
  }
}

.contacts .item:hover, .contacts .item:focus {
  color: #2196f3;
}

.icon-smartphone {
  margin-right: 8px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

@media screen and (min-width: 1200px) {
  .icon-smartphone {
    margin-right: 10px;
    fill: currentColor;
  }
}

.icon-envelope {
  margin-right: 8px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

@media screen and (min-width: 1200px) {
  .icon-envelope {
    margin-right: 10px;
    fill: currentColor;
  }
}

.hero {
  max-width: 1600px;
  max-height: 600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.overlay {
  background-color: #C4C4C4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/hero-mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/hero-mob.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/adaptive/hero-mob@2x.jpg);
  }
}

@media screen and (min-width: 489px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/hero-tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/hero-tab.jpg);
  }
}

@media screen and (min-width: 489px) and (min-device-pixel-ratio: 2), screen and (min-width: 489px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 489px) and (min-resolution: 192dpi), screen and (min-width: 489px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/adaptive/hero-tab@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/hero-desktop.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/adaptive/hero-desktop@2x.jpg);
  }
}

.hero-main-text {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 653px;
  max-height: 120px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 480px) {
  .hero-main-text {
    width: 360px;
    height: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-main-text {
    font-size: 44px;
    width: 696px;
    height: 120px;
  }
}

.hero-button {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
}

.backdrop {
  padding: 93px 15px 94px 15px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 0px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 609px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    max-width: 528px;
    height: 581px;
  }
}

.modal-btn-close {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:hover .icon-close,
.modal-btn-close:focus .icon-close {
  fill: #2196f3;
}

.modal-btn-close:focus, .modal-btn-close:hover {
  border: 1px solid #2196f3;
}

.icon-close {
  position: absolute;
  display: inline-block;
  fill: currentColor;
}

.form-title {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

@media screen and (max-width: 1200px) {
  .form-title {
    padding: 40px 40px 0px 40px;
  }
}

@media screen and (min-width: 1200px) {
  .form-title {
    padding: 40px 0px 0px 0px;
  }
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.form-input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  cursor: pointer;
}

.form-input::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline-color: rgba(117, 117, 117, 0.5);
}

.form-input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline-color: rgba(117, 117, 117, 0.5);
}

.form-input::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline-color: rgba(117, 117, 117, 0.5);
}

.form-input::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  outline-color: rgba(117, 117, 117, 0.5);
}

.form-input:hover ~ .icons-form-modal,
.form-input:focus ~ .icons-form-modal {
  fill: #2196f3;
}

.form-input:hover, .form-input:focus {
  outline-color: #2196f3;
  background-color: #ffffff;
}

.form-input.textarea {
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  margin-bottom: 20px;
}

.form-input.textarea::-webkit-input-placeholder {
  left: 16px;
}

.form-input.textarea:-ms-input-placeholder {
  left: 16px;
}

.form-input.textarea::-ms-input-placeholder {
  left: 16px;
}

.form-input.textarea::placeholder {
  left: 16px;
}

.icons-form-modal {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  bottom: 11px;
}

/* Checkbox styles */
.checkbox-label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  cursor: pointer;
  margin-left: 8.38px;
}

@media screen and (max-width: 1200px) {
  .checkbox-label {
    font-size: 12px;
  }
}

.link-agreement-modal {
  text-decoration: underline;
  color: #2196f3;
  cursor: pointer;
}

.checkbox:checked ~ .icon-checkbox {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../icons/icon-check-modal.svg");
  background-size: contain;
  background-origin: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.checkbox-container {
  margin-left: auto;
  margin-right: auto;
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-button-submit {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
  display: block;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.features-list {
  padding-top: 60px;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 94px;
  }
}

.features-list .item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-list .item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list .item {
    width: 270px;
  }
}

.features-list .item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .features-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list .item::before {
  display: block;
  background-color: #f5f4fa;
  content: '';
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list .item:nth-child(1)::before {
  background-image: url(../icons/antenna.svg);
}

.features-list .item:nth-child(2)::before {
  background-image: url(../icons/clock.svg);
}

.features-list .item:nth-child(3)::before {
  background-image: url(../icons/notebook.svg);
}

.features-list .item:nth-child(4)::before {
  background-image: url(../icons/astronaut-1.svg);
}

.features-list h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features-list h3 {
    text-align: center;
  }
}

.features-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
}

@media screen and (max-width: 1200px) {
  .work-directions {
    display: none;
  }
}

.work-directions h2 {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 0px;
}

.work-directions .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 30px;
}

.work-directions .images:last-child {
  margin-right: 0px;
}

.thumb {
  position: relative;
  display: block;
}

.images .text {
  position: absolute;
  bottom: 0;
  display: block;
  padding-top: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.images .text:nth-child(1) {
  padding-left: 83px;
  padding-right: 82px;
}

.images .text:nth-child(2) {
  padding-left: 86px;
  padding-right: 85px;
}

.images .text:nth-child(3) {
  padding-left: 91px;
  padding-right: 90px;
}

.our-team {
  background: #f5f4fa;
  padding-top: 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
  }
}

.our-team h2 {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .our-team h2 {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.team-members {
  padding: 30px 10px;
}

.team-members-list {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .team-members-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .team-members-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team-members h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  margin-bottom: 10px;
}

.team-members p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
}

.team-members-card {
  width: 100%;
  margin-bottom: 30px;
  border: transparent;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .team-members-card {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-members-card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-members-card {
    width: 270px;
  }
}

.team-members-card img {
  width: 100%;
}

.social-accounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  padding-bottom: 30px;
  width: 206px;
  height: 44px;
}

.social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0px;
}

.social-accounts .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-accounts .links:hover, .social-accounts .links:focus {
  background-color: #2196f3;
  border-radius: 50%;
  color: #ffffff;
}

.links .icon {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
  }
}

.clients .title {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients .title {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.clients-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .clients-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients-links .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 90px;
  width: 210px;
}

@media screen and (min-width: 768px) {
  .clients-links .item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-links .item {
    width: 170px;
  }
}

.clients-links .item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-links .item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients-links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  color: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links .link:hover, .clients-links .link:focus {
  color: #2196f3;
}

.clients-icon {
  display: block;
  fill: currentColor;
  margin: auto;
}

.footer {
  background: #2f303a;
  padding-bottom: 60px;
  width: 100%;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.main-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .main-contacts {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .main-contacts {
    width: unset;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-contacts {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer .address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-email,
.footer-telephone {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.logo {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .logo {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    margin-left: 0px;
  }
}

.logo-web {
  font-family: "Raleway", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  font-family: "Raleway", sans-serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.join-in-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  width: 206px;
}

@media screen and (min-width: 768px) {
  .join-in-contacts {
    width: 50%;
    margin-top: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .join-in-contacts {
    margin-top: 50px;
    width: unset;
    margin-left: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.join-in-contacts h3 {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-media .item {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-left: 0px;
  padding-left: 0px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media .item:last-child {
  margin-right: 0px;
}

.social-media .item:nth-child(1) {
  background-image: url(../icons/instagram-footer.svg);
}

.social-media .item:nth-child(2) {
  background-image: url(../icons/twitter-footer.svg);
}

.social-media .item:nth-child(3) {
  background-image: url(../icons/facebook-footer.svg);
}

.social-media .item:nth-child(4) {
  background-image: url(../icons/linkedin-footer.svg);
}

.social-media .item:hover {
  background-color: #2196f3;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .subscribe {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    width: unset;
    margin-top: 53px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-right: 0px;
  }
}

.sign-in {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.subscribe-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
    height: 50px;
    display: inline-block;
  }
}

.subscribe-input::-webkit-input-placeholder {
  padding-top: 15px;
  padding-left: 16px;
}

.subscribe-input:-ms-input-placeholder {
  padding-top: 15px;
  padding-left: 16px;
}

.subscribe-input::-ms-input-placeholder {
  padding-top: 15px;
  padding-left: 16px;
}

.subscribe-input::placeholder {
  padding-top: 15px;
  padding-left: 16px;
}

.subscribe-btn {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  cursor: pointer;
  position: relative;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 62px 10px 29px;
}

@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin-left: 12px;
    display: inline-block;
    margin-top: 0px;
  }
}

.send-icon {
  display: block;
  position: absolute;
  right: 28px;
  top: 13px;
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */