.clients {
    padding-top: 60px;
  @media screen and (min-width: 1200px) {
      padding-top: 94px;
      } 
  

  & .title {
    @include sectionTitle(28px);
    margin-bottom: 30px;
  
  @media screen and (min-width: 1200px) {
    @include sectionTitle(36px);
    }
  }
}

.clients-links {
  @include flex(space-between);

@media screen and (max-width: 1200px) {
  flex-wrap: wrap;
  } 
}

.clients-links .item {
@include flex(center);
margin-left: auto;
margin-right: auto;
height: 90px;
width: 210px;

@media screen and (min-width: 768px) {
  width: 226px;
  } 
@media screen and (min-width: 1200px) {
   width: 170px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
    
@media screen and (min-width: 1200px) {
    margin-right: 30px;
    }
  }  
}

.clients-links .link {
  @include flex(center);
  align-items: center;
  width: 100%;
  border-radius: 4px;
  border: 1px solid ;
  cursor: pointer;
  color: $icon-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  color: $accent-color;
} 
}

.clients-icon {
  display: block;
  fill: currentColor;
  margin: auto;
}
