.our-team {
    background: $light-background-color;
    padding-top: 60px;
    width: 100%;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    } 
  

  & h2 {
    @include sectionTitle(28px);
    margin-bottom: 30px;
  
    @media screen and (min-width: 1200px) {
    @include sectionTitle(36px);
    }
  }
}


 .team-members {
    padding: 30px 10px;
   
&-list {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
    @include flex(space-between);
    }

  @media screen and (min-width:  768px) {
    display: flex;
    flex-wrap: wrap;
    @include flex(space-between);
    }
  }

  & h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: $primary-text-color;
    margin-bottom: 10px;
  }
  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: $secondary-text-color;
  }
  &-card {
    width: 100%;
    margin-bottom: 30px;
    border: transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: $white-color;
    cursor: pointer;

    @media screen and (min-width: 480px) {
      width: 450px;
      } 

    @media screen and (min-width: 768px) {
      width: 354px;
      } 
    @media screen and (min-width: 1200px) {
       width: 270px;
      }
     }
    } 

    .team-members-card img {
      width: 100%;
    }
  
  .social-accounts {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding-bottom: 30px;
    width: 206px;
    height: 44px;
  }
  
  .social-item { 
    @include flex(space-between);
    margin-right: 10px;

   &:last-child {
    margin-right: 0px;
  } 
  } 
  
    .social-accounts .links {
      @include flex(center);
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: $icon-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    background-color: $accent-color;
    border-radius: 50%;
    color: $white-color;
  }
  }
    .links .icon {
    display: block;
    flex-direction: row;
    width: 20px;
    height: 20px;
    fill: currentColor;
    }
  