$primary-text-color: rgba(33, 33, 33, 1);
$secondary-text-color: rgba(117, 117, 117, 1);
$accent-color: #2196f3;
$btn-blue-color: #188CE8;
$white-color: #ffffff;
$light-grey-color: rgba(255, 255, 255, 0.6);
$dark-background-color: #2f303a;
$light-background-color: #f5f4fa;
$border-light-color: #eeeeee;
$header-border-color: #ececec;
$hero-background: #C4C4C4;
$icon-color: #AFB1B8;
$backdrop-color: rgba(0, 0, 0, 0.2);
$social-media-footer: rgba(255, 255, 255, 0.1);
$subscribe-btn-border: rgba(255, 255, 255, 0.3);
$subscribe-btn-color:  rgba(255, 255, 255, 0.6);
$color-shadow: rgba(0, 0, 0, 0.15);
$modal-btn-border-color: rgba(0, 0, 0, 0.1);
$form-input-border-color: rgba(33, 33, 33, 0.2);
$overlay-cards-color: rgba(33, 150, 243, 0.9);

$primary-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
